@import "tailwindcss";

@utility animate-reveal-up {
    animation: revealUp 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@utility animate-slide-up-fade {
    animation: slideUpFade 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@utility animation-delay-500 {
    animation-delay: 500ms;
}

@keyframes revealUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}